
{% block content %}
<section class="content">
	<div class="row">
		<div class="box box-info">
			<div class="box-header with-border">
				<h3 class="box-title">ADD CONTRACT</h3>
			</div>
			<div class="box-body">
				<div class="col-sm-12">
					<form class="form-horizontal" enctype="multipart/form-data" method="POST">
						{% csrf_token %}
						<div class="form-group">
							<label for="codigo" class="col-sm-2 control-label">Customer</label>
							<div class="col-sm-6">
                                {{ form.customer }}
								{% if form.customer.errors %}
									<label class="control-label" for="codigo">
										<i class="fa fa-times-circle-o"></i>
										{{ form.customer.errors.as_text }}
									</label>
								{% endif %}
							</div>
						</div>
                        <div class="form-group">
							<label for="codigo" class="col-sm-2 control-label">Value</label>
							<div class="col-sm-6">
                                {{ form.initial_value }}
								{% if form.initial_value.errors %}
									<label class="control-label" for="codigo">
										<i class="fa fa-times-circle-o"></i>
										{{ form.initial_value.errors.as_text }}
									</label>
								{% endif %}
							</div>
						</div>

                        <div class="form-group">
							<label for="codigo" class="col-sm-2 control-label">Interest Rate</label>
							<div class="col-sm-4">
                                {{ form.interest_rate }}
								{% if form.interest_rate.errors %}
									<label class="control-label" for="codigo">
										<i class="fa fa-times-circle-o"></i>
										{{ form.interest_rate.errors.as_text }}
									</label>
								{% endif %}
							</div>
						</div>

                        <div class="form-group">
							<label for="codigo" class="col-sm-2 control-label">IP Address</label>
							<div class="col-sm-4">
                                {{ form.ip_address }}
								{% if form.ip_address.errors %}
									<label class="control-label" for="codigo">
										<i class="fa fa-times-circle-o"></i>
										{{ form.ip_address.errors.as_text }}
									</label>
								{% endif %}
							</div>
						</div>
                        <div class="form-group">
							<label for="codigo" class="col-sm-2 control-label">Submission Date</label>
							<div class="col-sm-4">
                                {{ form.submission_date }}
								{% if form.submission_date.errors %}
									<label class="control-label" for="codigo">
										<i class="fa fa-times-circle-o"></i>
										{{ form.submission_date.errors.as_text }}
									</label>
								{% endif %}
							</div>
						</div>
                        <div class="form-group">
							<label for="codigo" class="col-sm-2 control-label">Bank</label>
							<div class="col-sm-4">
                                {{ form.bank }}
								{% if form.bank.errors %}
									<label class="control-label" for="codigo">
										<i class="fa fa-times-circle-o"></i>
										{{ form.bank.errors.as_text }}
									</label>
								{% endif %}
							</div>
						</div>

						<div class="form-group">
						  <div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-success">Save</button>
						  </div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}